* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2F2F2;
}

/*Cabeçalho*/
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo, .menu {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0px;
    list-style: none;
}

nav a {
    display: block;
    margin-right: 40px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #065220;
}

nav a:hover {
    color: #FFFFFF;
    background-color: #1eb720;
    border-radius: 4px;
}

/*Conteúdo*/
#geral {
    display: flex;
    justify-content: center;
}

.container_geral {
    display: flex;
    justify-content: center;
    width: 990px;
}

#geral section {
    flex: 1;
    flex-direction: column;
}

.title h1 {
    text-align: center;
    font-size: 40px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 500px;
}

#resume p {
    margin-top: 50px;
    font-size: 20px;
}

#lists {
    display: flex;
    margin-top: 30px;
}

ul {
    margin-top: 10px;
    font-size: 20px;
}

/*Rodapé*/
footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container_footer {
    display: flex;
    flex-direction: column;
    width: 990px;
}

.names_footer h2 {
    margin: 5px;
    padding: 0;
}

.name_creator h2 {
    color: #065220;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0px 2px 2px #1eb720;
}

.signature h2 {
    color: #065220;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0px 2px 2px #1eb720;
}

.footer_copy {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
}

.footer_copy a {
    color: #5c5c5c;
    text-decoration: none;
}
